/* display.css */
body {
    font-family: 'Tahoma', sans-serif;
    background-color: #f0fff0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 50px;
}

h2 {
    color: #339933;
    margin-bottom: 20px;
}

#studentData {
    background-color: white;
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 320px;
    text-align: left;
    font-size: 16px;
}

#studentData p {
    margin: 10px 0;
}

button {
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #339933;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #267326;
}
